# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio IDE files
*.recipe
*.ilk
*.txt
*.idb
*.pdb
*.sln
*.vcxproj.filters
*.vcxproj.user
*.vsidx
*.suo
*.db
*.json
*.vcxproj
*.tlog
*.log
*.lastbuildstate
"src/Text Math 2/Text Math 2"
"src/Text Math 2/x64"
